<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Advanced Learning</h3>
                <p>Transforming lives through quality education.</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/levelacademymt/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/levelacademygg"><i class="fab fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fab fa-linkedin-in"></i></a> !!!THERE IS NO LINKEDIN FOR LEVEL ACADEMY!!! -->
                    <a href="https://www.instagram.com/levelacademymalta/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="programmes.html">Programmes</a></li>
                    <li><a href="admissions.html">Admissions</a></li>
                    <li><a href="student-support.html">Student Support</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Policies and Documents</h3>
                <ul class="footer-links">
                    <li><a href="../php/download.php?file=Appendix K - Code of Ethics.pdf">Code of Ethics</a></li>
                    <li><a href="../php/download.php?file=Appendix O - Plagiarism and Academic Misconduct Policy.pdf">Plagiarism Policy</a></li>
                    <li><a href="../php/download.php?file=Appendix P - Digital Ethics %26 Assessment Integrity Policy.pdf">Digital Ethics & IP Policy</a></li>
                    <li><a href="../php/download.php?file=Assessment %26 Moderation Policy.pdf">Assessment & Moderation Policy</a></li>
                    <li><a href="../php/download.php?file=Appendix R - Data Protection Policy.pdf">Data Protection and GDPR</a></li>
                    <li><a href="../php/download.php?file=Acceptable Use Policy.pdf">Acceptable Use Policy</a></li>
                    <li><a href="../php/download.php?file=Appendix L - Acceptable Use Policy (IT Systems and Digital Resources).pdf">QA Policy</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contact</h3>
                <ul class="footer-links">
                    <li><i class="fas fa-map-marker-alt"></i> Triq Wenzu Mallia, Il-Hamrun HMR 1241</li>
                    <li><i class="fas fa-phone"></i> <a href="tel:+356 77684434">+356 7768 4434</a></li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:info@advancedlearning.study">info@advancedlearning.study</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom-content">
            <p>&copy; 2025 Advanced Learning. All rights reserved.</p>
            <ul class="footer-legal">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
</footer> 